/* Required height of parents of the Full Page Intro and Intro itself */

html,
body,
.view {
    height: 100%;
}

/* Navbar animation */

.navbar {
    background-color: rgba(0, 0, 0, 0.2);
}

.top-nav-collapse {
    background-color: #000;
}

/* Adding color to the Navbar on mobile */

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #000;
    }
    h1 { font-size: 4.0vh; } 
}

/* Footer color for sake of consistency with Navbar */

.page-footer {
    background-color: rgba(0, 0, 0, .2);

}

/* Full Page Carousel itself*/

.carousel {
    height: 100%;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%;
}

body {
    background: #222;
    background-image: url("/img/background_black_white_dark.png");
    background-position: left;
    font-family: 'Poppins', sans-serif;
}

/*
footer {
    background-color: transparent !important;
}
*/

div.view.overlay {
    background: #2E2E2E;
}
