/* App styles */

#heading {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 72px;
    width: 60%;
    margin: 0px auto;
    text-transform: uppercase;
    text-align: center;
}

#subHeading {
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}

#licenseExpired {
    visibility: hidden;
}

.first {
    grid-column: 1;
}

.second {
    grid-column: 2;
}

.third {
    grid-column: 3;
}

input {
    background: #FFF;
    border-radius: 30px;
    border: 0;
    margin: 4px;
    padding: 7px 10px;
    width: auto;
}

select {
    font-size: 14px;
    background: #FFF;
    border-radius: 30px;
    border: 0;
    margin: 4px;
    padding: 7px 10px;
    width: 120px;
}

input[type="button"] {
    width: 30%;
}

#gridLayout {
    display: grid;
    grid-template-columns: minmax(25%, 75%)
}

#gridLayoutOptions {
    display: grid;
    grid-template-columns: 50%;
}

#gridVizButtons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 10px;
}

#firstVizButton {
    visibility: hidden;
}

.joiningField {
    padding: 6px 6px 6px 6px;
    margin-left: 10px;
}

.submit {
    cursor: pointer;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #9AC73D;
    border-radius: 30px;
    padding: 10px 10px;
    margin: 4px;
}

#label {
    display: inline-block;
}

.aui-button {
    margin: 5px;
}

#sectionChart {
    min-height: 900px;
}

.intro-header h1 {
    font-size: 48px;
    line-height: 60px;
    padding-top: 20px;
}

#legendDropdown {
    border-radius: 3px;
}

.main-panel .aui-page-panel-item {
    padding: 20px 40px 20px 0;
    height: 100px;
}

input[type=text] {
    width: 40%;
    height: 18px;
}

#jqlInput {
    width: 90%;
}

#selectFilter {
    width: 90%;
}

.chart {
    position: absolute;
}

#legend {
    position: absolute;
}

#loading-container {
    height: 550px;
    /* 850 - margin x 2 */
    width: 788px;
    position: absolute;
    z-index: 1;
    margin-top: 0px;
    /* default state is off*/
    pointer-events: none;
    opacity: 0;
}

#loading {
    height: 95%;
    width: 100%;
    position: relative;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

.tooltipDemo {
    background-color: rgba(0, 0, 0, .8);
    border: none;
    border-radius: 5px;
    padding: 15px;
    max-width: 500px;
    text-align: left;
    color: white;
    pointer-events: none;
    font-family: 'Roboto', sans-serif !important;
}

#loading-center-absolute-one {
    position: absolute;
    left: 390px;
    top: 50%;
    height: 300px;
    width: 50px;
    /* margin-top: -150px; */
    margin-left: -40px;
}

#loading-center-absolute-two {
    position: absolute;
    left: 390px;
    top: 50%;
    height: 300px;
    width: 50px;
    /* margin-top: -150px; */
    margin-left: 25px;
}

.loading-text {
    position: absolute;
    text-align: center;
    left: 25%;
    width: 50%;
    transform: translate(0px, 120px);
    font-size: 1.25em;
    pointer-events: none;
}

.loading-buttons {
    position: absolute;
    text-align: center;
    left: 25%;
    width: 50%;
    transform: translate(0px, 200px);
}

.cancel {
    border: 2px solid #9AC73D;
    color: #9AC73D;
    width: 150px;
}

.continue {
    background-color: #9AC73D;
    width: 150px;
}

.object-one {
    width: 18px;
    height: 18px;
    float: left;
    margin-top: 15px;
    margin-right: 15px;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    -webkit-animation: object-one 1s infinite;
    animation: object-one 1s infinite;
    background-color: #56A32A;
    -webkit-background-color: #56A32A;
}

.object-two {
    width: 18px;
    height: 18px;
    float: left;
    margin-top: 15px;
    margin-right: 15px;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    -webkit-animation: object-two 1s infinite;
    animation: object-two 1s infinite;
    background-color: #DFEC51;
    -webkit-background-color: #DFEC51;
}

.object-one:nth-child(9) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

.object-one:nth-child(8) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.object-one:nth-child(7) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.object-one:nth-child(6) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.object-one:nth-child(5) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.object-one:nth-child(4) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.object-one:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.object-one:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.object-two:nth-child(9) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

.object-two:nth-child(8) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.object-two:nth-child(7) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.object-two:nth-child(6) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.object-two:nth-child(5) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.object-two:nth-child(4) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.object-two:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.object-two:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes object-one {
    50% {
        -ms-transform: translate(100px, 0);
        -webkit-transform: translate(100px, 0);
        transform: translate(100px, 0);
    }
}

@keyframes object-one {
    50% {
        -ms-transform: translate(100px, 0);
        -webkit-transform: translate(100px, 0);
        transform: translate(100px, 0);
    }
}

@-webkit-keyframes object-two {
    50% {
        -ms-transform: translate(-100px, 0);
        -webkit-transform: translate(-100px, 0);
        transform: translate(-100px, 0);
    }
}

@keyframes object-two {
    50% {
        -ms-transform: translate(-100px, 0);
        -webkit-transform: translate(-100px, 0);
        transform: translate(-100px, 0);
    }
}


/* Accordian CSS */

.accordion-container {
    position: relative;
    width: 850px;
    height: auto;
    margin: 10px auto;
}

.accordion-container>h2 {
    text-align: center;
}

.accordion-container>p {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

#sectionJQLInput>a {
    border-radius: 20px 20px 0px 0px;
}

#sectionChart>a {
    border-radius: 0px 0px 20px 20px;
}

#sectionChart>a.active {
    border-radius: 0px;
}

.set {
    position: relative;
    width: 100%;
    height: auto;
    background-color: none;
}

.set>a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #56A32A, #DFEC51);
    font-weight: 600;
    border-bottom: 2px solid #424242CC;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.set>a i {
    float: right;
    margin-top: 2px;
}

.set>a.active {
    color: #fff;
    font-weight: 600;
}

.contentChart {
    display: none;
    padding: 10px 15px;
    margin: 0;
}

#tutorialDiv {
    display: flex;
    justify-content: center;
}

.hover {
    filL: yellow;
    stroke: none;
    stroke-width: 1px;
}

.optionsGroup {
    padding: 6px;
    margin: 10px;
    border-radius: 10px;
}

.uppercaseHeading {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.sectionDepTypesHeading {
    padding: 6px;
    border-radius: 10px 10px 0px 0px;
    margin-left: 10px;
}

#dependencies ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* Subquery CSS */

.contentChart {
    display: none;
    padding: 10px 15px;
    margin: 0;
}

.subqueryGrid {
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19% 4%;
    border-radius: 10px;
    padding: 6px;
    margin: 10px 4px 10px 4px;
}

.subqueryOne {
    grid-column: 1;
}

.subqueryTwo {
    grid-column: 2;
}

.subqueryThree {
    grid-column: 3;
}

.subqueryFour {
    grid-column: 4;
}

.subqueryFive {
    grid-column: 5;
}

.subquerySix {
    grid-column: 6;
}

.deleteDiv:hover {
    cursor: pointer;
}


/* Pills CSS */

#dependencies ul li {
    display: inline-block;
}

#dependencies ul li a {
    display: inline-block;
    max-width: 120px;
    height: 18px;
    padding: 7px 10px;
    margin: 4px;
    border-radius: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
    -webkit-transition: .2s;
    transition: .2s;
}

.selectedDependency {
    background-color: #9AC73D;
    color: #FFFFFF;
}

.selectedDependency:hover {
    background-color: #56A32A;
    color: #FFFFFF;
}

.unselectedDependency {
    background-color: #FFFFFF;
    color: #333333;
}

.unselectedDependency:hover {
    background-color: #AAAAAA;
    color: #333333;
}

.valid {
    background: #4CD964;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.invalid {
    background: #FF2D55;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.redundant {
    background: #FFBB33;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.validtext {
    color: #4CD964;
}

.invalidtext {
    color: #FF2D55;
}


/* toggle switch */

.toggleWrapper input {
    position: absolute;
    left: -99em;
}

.toggle {
    cursor: pointer;
    margin: 6px 6px 6px 0px;
    display: inline-block;
    position: relative;
    width: 120px;
    height: 2em;
    background: grey;
    border-radius: 5px;
    -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle:before,
.toggle:after {
    position: absolute;
    line-height: 2em;
    font-size: 14px;
    z-index: 2;
    -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.445, 0.95);
    transition: all 200ms cubic-bezier(0.445, 0.05, 0.445, 0.95);
}

.toggle:before {
    content: "OFF";
    left: 20px;
    color: grey;
}

.toggle:after {
    content: "ON";
    right: 20px;
    color: #fff;
}

.toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    background: #fff;
    width: 65px;
    height: 1.5em;
    border-radius: 3px;
    top: 3px;
    left: 3px;
    -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.445, 0.95);
    transition: all 200ms cubic-bezier(0.445, 0.05, 0.445, 0.95);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

input:checked+.toggle {
    background: #9AC73D;
}

input:checked+.toggle:before {
    color: #fff;
}

input:checked+.toggle:after {
    color: #9AC73D;
}

input:checked+.toggle .toggle__handler {
    width: 54px;
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
    border-color: #fff;
}


/* dependency ring */

.node rect {
    cursor: pointer;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node:hover {
    cursor: pointer;
}

.link:hover {
    stroke-opacity: 1;
}

line {
    stroke: white;
}

.x path {
    stroke: white;
}

.y path {
    stroke: white;
}

.link {
    fill: none;
    pointer-events: none;
}


/* sankey chart */

.sankeyNode rect {
    cursor: pointer;
    shape-rendering: crispEdges;
}

.sankeyNode text {
    pointer-events: none;
}

.sankeyLink {
    fill: none;
    stroke-opacity: .2;
}

.sankeyLink:hover {
    stroke-opacity: .5;
}


/* chart tabs */


/* Style the tab */

.tab {
    overflow: hidden;
    margin: 0px 10px;
    border-radius: 10px 10px 0px 0px;
}


/* Style the buttons inside the tab */

#appContainer {
    margin-top: 0px;
    border-radius: 0px 0px 10px 10px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 25%;
    width: calc(100% / 4);
    font-weight: 600;
    background-color: #DDDDDD;
}


/* padding: 6px;
    margin: 10px;
    border-radius: 10px; */


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #EEEEEE;
}


/* Create an active/current tablink class */


/* .tab button.active {
    background-color: #CCCCCC;
} */


/* Style the tab content */

.tabcontent {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}


/* Fade in tabs */

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#tableChart {
    display: flex;
    justify-content: center;
}


/*button*/

.btn {
    padding: 14px 24px;
    border: 0 none;
    margin: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-primary {
    background: #FFB400;
    color: #333333;
}

.btn>a {
    color: #333333;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background: #FFB400;
}

.btn-primary:active,
.btn-primary.active {
    background: #FFB400;
    box-shadow: none;
}

.btn-lg.round {
    border-radius: 24px;
}