/* Required height of parents of the Full Page Intro and Intro itself */
    /* set the CSS */
    #header {
        padding: 10px 0 0 10px;
        font-family: "Poppins";
        color: white;
    }

    #legend {
        padding: 10px 0 0 10px;
    }

    #sequence {
        padding: 10px 10px 10px 10px;
    }

    #sequence text,
    #legend text {
        font-family: "Arial";
        font-size: 0.75em;
        font-weight: 600;
        fill: #fff;
    }

    #chart {
        padding: 10px 10px 10px 10px;
        font-family: "Arial";
    }

    #chart path {
        stroke: #fff;
    }

    #chart img {
        max-width: 100%;
        height: auto;
    }
    
    #chart p {
        padding: 10px 10px 10px 10px;
        background-color:red;
        color:white;
        text-align:center;
    }

    #percentage {
        font-size: 2.5em;
    }
html,
body,
.view {
    height: 100%;
}

/* Full Page Carousel itself*/

.carousel {
    height: 100%;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%;
}