#header { 
    /*        padding: 10px 0 0 10px;*/ 
    font-family: "Poppins"; 
    color: white; 
} 

.node rect { 
    cursor: move; 
    fill-opacity: .9; 
    shape-rendering: crispEdges; 
} 

.node text { 
    pointer-events: none; 
} 

.link { 
    fill: none; 
    stroke: #FFF; 
    stroke-opacity: .15; 
} 

.link:hover { 
    stroke-opacity: .25; 
} 

#tooltip { 
    background-color: rgba(0, 0, 0, .8); 
    border: none; 
    border-radius: 5px; 
    padding: 15px; 
    max-width: 400px; 
    text-align: left; 
    color: white; 
} 
html,
body,
.view {
    height: 100%;
}

/* Full Page Carousel itself*/

.carousel {
    height: 100%;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%;
}

div.view.overlay {
    background: #2E2E2E;
}

div.card {
    background: #2E2E2E;
}

.axis line {
    stroke: white;
}

.axis path {
    stroke: white;
}

.axis text {
    fill: white;
}

i {
    color:white!important;
}